<p id="notice"><%= notice %></p>

<h1>Video Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_categories.each do |video_category| %>
      <tr>
        <td><%= video_category.name %></td>
        <td><%= link_to 'Show', video_category %></td>
        <td><%= link_to 'Edit', edit_video_category_path(video_category) %></td>
        <td><%= link_to 'Destroy', video_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video Category', new_video_category_path %>
